{% extends "zbase.html" %}
{% load static %}
{% block content %}


<div class="site-background-color main-content">
  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="col-lg-12 d-none d-lg-block mt-4 mb-4">
        <div class="row d-flex justify-content-center">

</div>
</div>
</div>
</div>
</div>

<div class="cookie-container" style="width: 100%; max-width: 100%;padding-bottom:50px;">
    <a>
      We use cookies in this website to give you the best experience on our site and show you the relevant information.  
      To find out more, visit our <a href="">privacy policy</a> and our <a href="">cookie policy</a>.
    </a>
    <br>
    <button class="cookie-btn">Okay</button>
</div>
  
<script src="{% static 'js/cookie.js' %}"></script>

{% endblock content %}

