{% load static %}
<!DOCTYPE html>
<html>

<body>
    <!-- Sticky navbar for large screens -->
    <header class="sticky-top shadow d-none d-lg-block">
      <nav class="navbar navbar-expand-lg navbar-dark uk-dark-blue">
          <div class="container-fluid">
              <a title="Dynamic Pricing" href="{% url 'base-home' %}" class="text-decoration-none">
                  <span class="nav-logo"><img src="{% static 'images/site/results.jpg' %}"></span></a>  
              {% if navbar_title_content %}
              <div class="navbar-container" style="margin-left:10px; padding-top:0px; padding-bottom:0px;">
                  <a class="navbar-brand text-uppercase" style="color: var(--gbr-red);padding:0px; margin-bottom:0px; line-height: 1;" href="{{ navbar_title_content.1 }}">{{ navbar_title_content.0 }}</a>
                  {% if navbar_title_content.2 %}
                      <h5 class="navbar-brand text-uppercase" style="font-size: 16px; margin-bottom:0px; padding:0px; margin-top:0px; line-height: 1;">
                          {{ navbar_title_content.2 }}
                      </h5>
                  {% endif %}
                  {% if navbar_title_content.4 %}
                      <h5 class="navbar-brand d-none d-md-block" style="font-size: 12px; margin-bottom:0px; padding:0px; margin-top:0px; line-height: 1;">
                          {{ navbar_title_content.4 }}
                      </h5>
                  {%endif%}
              </div>
              {% else %}
                  <a class="navbar-brand text-uppercase" style="font-weight:normal" href="{% url 'base-home' %}">DYNAMIC PRICING PROTOYPE</a>
              {% endif %}  
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="collapsibleNavbar">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  </ul>
              </div>
          </div>
      </nav>
    </header>
  
    <!-- Non-sticky navbar for small screens -->
    <header class="shadow d-lg-none" style="width: 100%; max-width: 100%;">
        <nav class="navbar navbar-expand-lg navbar-dark uk-dark-blue" style="width: 100%; max-width: 100%;">
            <div class="container-fluid d-flex align-items-start" style="width: 100%; max-width: 100%;">
                <a title="Tournament Manager" href="{% url 'base-home' %}" class="text-decoration-none d-flex align-items-center">
                    <span class="nav-logo"><img src="{% static 'images/site/results.jpg' %}" style="padding-right: 10px;"></span>
                    <div class="d-flex flex-column">
                        <span class="navbar-brand text-uppercase" style="font-weight:normal; margin-left: 5px;">UK RATINGS PILOT</span>
                        {% if user.is_authenticated %}
                            <span class="navbar-brand" style="font-weight:normal; padding:0px; margin-top:0px; margin-left: 5px;">Hello {{user.first_name}}</span>
                        {% endif %}
                    </div>                
                </a>
                {% if navbar_title_content %}
                <div class="navbar-container" style="margin-left:5px; padding-top:0px; padding-bottom:0px; width: 100%; max-width: 100%;">
                    <a class="navbar-brand text-uppercase" style="color: var(--gbr-red);padding:0px; margin-bottom:0px; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" href="{{ navbar_title_content.1 }}">{{ navbar_title_content.0 }}</a>
                    {% if navbar_title_content.2 %}
                        <h5 class="navbar-brand text-uppercase" style="font-size: 16px; margin-bottom:0px; padding:0px; margin-top:0px; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ navbar_title_content.2 }}
                        </h5>
                    {% endif %}
                    {% if navbar_title_content.4 %}
                        <h5 class="navbar-brand d-none d-md-block" style="font-size: 12px; margin-bottom:0px; padding:0px; margin-top:0px; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                            {{ navbar_title_content.4 }}
                        </h5>
                    {%endif%}
                </div>
            {% endif %}  
            </div>
        </nav>
    </header>
      
  
  </body>
  </html>

